#alarms .item {
    border: 1px solid #5073b5;
    padding: 10px;
    margin-bottom: 20px;
}
#alarms .item > div {
    border-right: 1px dotted #5073b5;
}
#alarms .item > div:last-child {
    border-right: none;
}
#alarms .item h4{
    text-decoration: underline;
}
.answer {
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 999999999;
    text-align: center;
    line-height: 40px;
}
.answer.done{
    background: #0B690B;
    color: white;
}
.answer.error{
    background: crimson;
    color: white;
}