.paginationnews {
    text-align: center;
}
.load_more {
    display: inline-block;
    padding: 10px 40px 10px 40px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #94b13e;
    background: #94b13e;
    color: #fff !important;
    border-radius: 4px;
    width:62%;
}